
body{
  height: 95vh;
  width: 95vh;
  margin:0 23%;
  font-size: 2vmax;
}
.row > div {
  background-color: white;
  height: 100%;
  width: 14%;
  margin: 2px;
  border-radius: 50%;
  text-align: center;
}
.game-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 75%;
  background-color:blue;
}
.row {
  display: flex;
  height: 16%;
  width: 100%;
}

.header {
  background-color: orange;
  height: 12.3%;
  width: 100%;
  display:flex;
  justify-content: space-around;
}
.header > div{
  background-color: red;
  flex-basis: 30%;
  height: 100%;
  display: inline-block;
  margin: 0 1.35%;

}
.main-body{
  display:flex;
  flex-Wrap: wrap;
  height:60%;
  width:70%;
  min-height: 48vmax;
  min-width: 56vmax;
}
.left, .right {
  width: 12.3%;
  height: 75%%;
  background-color: yellow;
}
.footer {
  height: 12.3%;
  width: 100%;
  background-color: red;
  text-align: center;
}

.stats{
  background-color: palevioletred;
  border: rebeccapurple 1px solid;
  border-radius: 20%;
  margin: auto;
}

.info{
  background-color: greenyellow;
  border: rebeccapurple 1px solid;
  border-radius: 20%;
  margin: auto;
}

.timer{
  background-color: firebrick;
  border: rebeccapurple 1px solid;
  border-radius: 20%;
  margin: auto;
}
