
body{
  height: 95vh;
  width: 95vh;
}
.col {
  background-color: white;
  width: 14%;
  height: 100%;
  margin: 2px;
  border-radius: 50%;
  text-align: center;
}
.game-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 75%;
  background-color:blue;
}
.row {
  display: flex;
  height: 16%;
  width: 100%;
}

.header {
  background-color: orange;
  height: 12.3%;
  width: 100%;
  display:flex;
  justify-content: space-around;
}
.header > div{
  background-color: red;
  flex-basis: 30%;
  height: 100%;
  display: inline-block;
  margin: 0 1.35%;

}
.main-body{
  display:flex;
  flex-Wrap: wrap;
  height:60%;
  width:65%;
}
.left, .right {
  width: 12.3%;
  height: 75%%;
  background-color: yellow;
}
.footer {
  height: 12.3%;
  width: 100%;
  background-color: red;
  text-align: center;
}

.start-button {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 7px;
  height: 100px;
  width: 230px;
  font-size: 2rem;
}
