* {
  box-sizing: border-box;
}

body{
  font-family: 'Marvel', sans-serif;
  height: 100%;
  width: 1250px;
  margin:auto;
  font-size: 2vmax;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgb(255, 255, 255, 0.6)), url(images/modal-bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position:right top;
  background-repeat: none;
  cursor: url("./images/cursor.cur"), auto;
}
.row > div {
  height: 100%;
  width: 14%;
  margin: 2px;
  border-radius: 50%;
  text-align: center;
}

label {
  cursor: url("./images/cursor.cur"), auto;
}

.control-panel{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}
.control-panel > div{
  width: 3vmax;
  height: 3vmax;
  border: solid 1px;
  border-radius: 7px;
}
.toggle-sound,
.reset-game,
.pause-game{
  border-radius: 7px;
  background-size: cover;
  height: 100%;
  width: 100%;
  cursor: url("./images/cursor.cur"), auto;
}
.toggle-sound{
  background-image: url(images/sound.png);
}
.reset-game{
  background-image: url(images/restart.png);
}

.pause-game{
background-image: url(images/pause.png);
}

.main-body{
  display:flex;
  flex-Wrap: wrap;
  justify-content: space-between;
  width:100%;
  margin: auto;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 658px;
  height: 503px;
}

.row {
  display: flex;
  height: 16%;
  width: 100%;
}

.header {
  height: 10rem;
  width: 100%;
  display:flex;
  justify-content: space-around;
  border: 1px solid;
  margin-bottom: 1px;
}

.header > div{
  flex-basis: 30%;
  height: 76px;
  margin: 0 1.35%;
}

.left, .right {
  width: 116px;
  height: 502px;
  border: 1px solid;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgb(255, 255, 255, 0.6))
}

.footer {
  height: 80px;
  width: 1250px;
  text-align: center;
  border: 1px solid;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgb(255, 255, 255, 0.6));
  display: flex;
  justify-content: center;
}

.start-modal {
  background-image:  linear-gradient(to right, rgba(255, 255, 255, 0.5), rgb(255, 255, 255, 0.5)), url(./images/modal-bg.png);
  background-position:  center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  font-family: 'Marvel', sans-serif;
  cursor: url("./images/cursor.cur"), auto;
}
.enter-name {
  width: 25%;
  height: 8%;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.choose-char {
  width: 31%;
  height: 8%;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.name-inputs {
  color: black;
  font-size: 2rem;
  width: 650px;
  display: flex;
  justify-content: space-evenly;
}
.name-inputs > input {
  opacity: .8;
  width: 200px;
  height: 35px;
}
.start-button {
  font-family: 'Marvel', sans-serif;
  background-color: white;
  margin-top: 2rem;
  text-align: center;
  border-radius: 7px;
  height: 15%;
  width: 14%;
  font-size: 85%;
  opacity: .8;
  cursor: url("./images/cursor.cur"), auto;
}
.time {
  margin-top: 10px;
}
.round-time {
  opacity: .8;
  width: 50px;
}

.character-select{
  width: 600px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.charbox {
  border: solid #000;
  border-width: 1px;
  width: 116px;
  height: 83px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#bowser {
  background-image: url("./images/character_select/bowser.jpg");
}
#cfalcon {
  background-image: url("./images/character_select/captain\ falcon.jpg");
}
#cloud {
  background-image: url("./images/character_select/cloud.jpg");
}
#dk {
  background-image: url("./images/character_select/dk.jpg");
}
#ink {
  background-image: url("./images/character_select/inkling.jpg");
}
#kirby {
  background-image: url("./images/character_select/kirby.jpg");
}
#link {
  background-image: url("./images/character_select/link.jpg");
}
#luigi {
  background-image: url("./images/character_select/luigi.jpg");
}
#meta {
  background-image: url("./images/character_select/metaknight.jpg");
}
#pac {
  background-image: url("./images/character_select/pacman.jpg");
}
#peach {
  background-image: url("./images/character_select/peach.jpg");
}
#pika {
  background-image: url("./images/character_select/pikachu.jpg");
}
#sonic {
  background-image: url("./images/character_select/sonic.jpg");
}
#toon {
  background-image: url("./images/character_select/toonlink.jpg");
}
#yoshi {
  background-image: url("./images/character_select/yoshi.jpg");
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.stats{
  font-size: 1.3rem;
  margin: auto;
  text-align: center;
  width: 80px;
  height: 36px;
}
.game-stats {
  font-size: 1.5rem;
  margin: auto;
  text-align: left;
}

.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info{
  margin: auto;
}
.p1.icon {
  height: 80px;
  background-image: url(./images/gamepiece-red.png);
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 15px;
}
.p2.icon {
  height: 80px;
  background-image: url(./images/gamepiece-yellow.png);
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 15px;


}

.name {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 15px;
}

.timer{
  background-color: rgb(255, 255, 255);
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 7px;
  margin: auto;
}

.win-modal{
  background-image: url(./images/winbg.jpg);
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  margin: auto;
  height: 650px;
  width: 100%;
  min-height: 48vmax;
  min-width: 56vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  left: 0;
  cursor: url("./images/cursor.cur"), auto;
}
.win-button{
  font-family: 'Marvel', sans-serif;
  width: 365px;
  height: 90px;
  background-color: rgb(255, 255, 255);
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 7px;
  font-size: 2rem;
  color: black;
  margin: auto;
  cursor: url("./images/cursor.cur"), auto;
}

.modal-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 365px;
  height: 90px;
  background-color: goldenrod;
  font-size: 2rem;
  border-radius: 7px;
  margin: auto;
}


.game-piece{
  background-image: url("./images/smashicon.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 14%;
  margin: 2px;
  border-radius: 50%;
  text-align: center;
}

input{
  font-size: 1.5rem;
  text-align: center;
}

.p1.token{
  background-image: url(./images/gamepiece-red.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.p2.token{
  background-image: url(./images/gamepiece-yellow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  visibility: hidden;
}
