
body{
  height: 95vh;
  width: 95vh;
  margin:0 23%;
  font-size: 2vmax;
}
.row > div {
  background-color: white;
  height: 100%;
  width: 14%;
  margin: 2px;
  border-radius: 50%;
  text-align: center;
}
.control-panel{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}
.control-panel > div{
  width: 3vmax;
  height: 3vmax;
  background-color: aliceblue;
  border: solid 1px;
  border-radius: 7px;
}
.toggle-sound,
.restart-game,
.pause-game{
  border-radius: 7px;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.toggle-sound{
  background-image: url(images/sound.png);
}
.restart-game{
  background-image: url(images/restart.png);
}

.pause-game{
background-image: url(images/pause.png);
}
.game-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 75%;
  background-color:blue;
}
.row {
  display: flex;
  height: 16%;
  width: 100%;
}

.header {
  background-color: orange;
  height: 12.3%;
  width: 100%;
  display:flex;
  justify-content: space-around;
}
.header > div{
  background-color: red;
  flex-basis: 30%;
  height: 100%;
  margin: 0 1.35%;

}
.main-body{
  display:flex;
  flex-Wrap: wrap;
  height:60%;
  width:70%;
  min-height: 48vmax;
  min-width: 56vmax;
}
.left, .right {
  width: 12.3%;
  height: 75%;
  background-color: yellow;
}
.footer {
  height: 12.3%;
  width: 100%;
  background-color: red;
  text-align: center;
}

.start-modal {
  width: 50%;
  height: 45%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 7px;
}
.start-modal > h4 {
  margin-block-start: 0rem;
  margin-block-end: 2rem;
}
.name-inputs {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.start-button {
  margin-top: 2rem;
  text-align: center;
  border-radius: 7px;
  height: 15%;
  width: 25%;
  font-size: 1.5rem;
}

.stats{
  background-color: palevioletred;
  border: rebeccapurple 1px solid;
  border-radius: 7px;
  margin: auto;
}

.info{
  background-color: greenyellow;
  border: rebeccapurple 1px solid;
  border-radius: 7px;
  margin: auto;
}

.timer{
  background-color: firebrick;
  border: rebeccapurple 1px solid;
  border-radius: 7px;
  margin: auto;
}

.hidden {
  visibility: hidden;
}
