* {
  box-sizing: border-box;
}
html{
  position: relative;
}
body{
  font-family: 'Marvel', sans-serif;
  height: 650px;
  width: 1250px;
  margin:auto;
  font-size: 2vmax;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgb(255, 255, 255, 0.6)), url(images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position:right top;
  background-repeat: none;
}
.row > div {
  /* background-color: white; */
  height: 100%;
  width: 14%;
  margin: 2px;
  border-radius: 50%;
  text-align: center;
}

.control-panel{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}
.control-panel > div{
  width: 3vmax;
  height: 3vmax;
  border: solid 1px;
  border-radius: 7px;
}
.toggle-sound,
.reset-game,
.pause-game{
  border-radius: 7px;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.toggle-sound{
  background-image: url(images/sound.png);
}
.reset-game{
  background-image: url(images/restart.png);
}

.pause-game{
background-image: url(images/pause.png);
}

.main-body{
  display:flex;
  flex-Wrap: wrap;
  justify-content: space-between;
  width:900px;
  min-height: 48vmax;
  min-width: 56vmax;
  margin: auto;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 658px;
  height: 503px;
  /* background-color:blue; */
}
.game-board {
  background-image: url("./images/gameboardoverlay.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  pointer-events: none;
  width: 667px;
  height: 500px;
}



.row {
  display: flex;
  height: 16%;
  width: 100%;
}

.header {
  height: 85px;
  width: 1250px;
  display:flex;
  justify-content: space-around;
  border: 1px solid;
  margin-bottom: 1px;
}

.header > div{
  flex-basis: 30%;
  height: 76px;
  margin: 0 1.35%;
}

.left, .right {
  width: 116px;
  height: 502px;
  border: 1px solid;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgb(255, 255, 255, 0.6))
}

.footer {
  height: 80px;
  width: 1250px;
  text-align: center;
  border: 1px solid;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.4), rgb(255, 255, 255, 0.6));
  display: flex;
  justify-content: center;
}

.start-modal {
  background-image:  linear-gradient(to right, rgba(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8)), url(./images/logo-start.png);
  background-position:  -67px 195px;
  background-size: 800px 330px;
  background-repeat: no-repeat;
  width: 668px;
  height: 495px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top:335px;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  font-family: 'Marvel', sans-serif;
}
.start-modal > h4 {
  font-size: 2rem;
  margin-block-start: 0rem;
  margin-block-end: 2rem;
}
.name-inputs {
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black; */
  color: black;
  font-size: 2rem;
  width: 650px;
  display: flex;
  justify-content: space-evenly;
}
.name-inputs > input {
  opacity: .8;
  width: 200px;
  height: 35px;
}
.start-button {
  font-family: 'Marvel', sans-serif;
  background-color: white;
  margin-top: 2rem;
  text-align: center;
  border-radius: 7px;
  height: 15%;
  width: 25%;
  font-size: 1.8rem;
  opacity: .8;
}
.time {
  margin-top: 10px;
}
.round-time {
  opacity: .8;
  width: 50px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.stats{
  font-size: 1.3rem;
  margin: auto;
  text-align: center;
  width: 80px;
  height: 36px;
}
.game-stats {
  font-size: 1.5rem;
  margin: auto;
  text-align: left;
}
#p1_total_wins, #p2_total_wins,
#p1_win_percent, #p2_win_percent {

}
.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info{
  margin: auto;
}
.p1.icon {
  height: 80px;
  background-image: url(./images/gamepiece-red.png);
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 15px;
}
.p2.icon {
  height: 80px;
  background-image: url(./images/gamepiece-yellow.png);
  background-position: center;
  background-size: cover;
  margin-top: 10px;
  margin-bottom: 15px;


}

.name {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 15px;
}

.timer{
  background-color: rgb(255, 255, 255);
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 7px;
  margin: auto;
}

.win-modal{
  background-image: url(./images/winbg.jpg);
  background-color: white;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  margin: auto;
  height: 650px;
  width: 100%;
  min-height: 48vmax;
  min-width: 56vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  left: 0
}
.win-button{
  font-family: 'Marvel', sans-serif;
  width: 365px;
  height: 90px;
  background-color: rgb(255, 255, 255);
  border: rgb(0, 0, 0) 1px solid;
  border-radius: 7px;
  font-size: 2rem;
  color: black;
  margin: auto;
}

.modal-txt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 365px;
  height: 90px;
  background-color: goldenrod;
  /* border: rebeccapurple 1px solid; */
  font-size: 2rem;
  border-radius: 7px;
  margin: auto;
}


.game-piece{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 14%;
  margin: 2px;
  border-radius: 50%;
  text-align: center;
}

input{
  font-size: 1.5rem;
  text-align: center;
}

.p1.token{
  background-image: url(./images/gamepiece-red.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.p2.token{
  background-image: url(./images/gamepiece-yellow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  visibility: hidden;
}
