
body{
  height: 95vh;
  width: 95vh;
  margin:0 23%;
  font-size: 2vmax;
}

.row > div {
  background-color: white;
  height: 100%;
  width: 14%;
  margin: 2px;
  border-radius: 50%;
  text-align: center;
}

.main-body{
  display:flex;
  flex-Wrap: wrap;
  height:60%;
  width:70%;
  min-height: 48vmax;
  min-width: 56vmax;
}

.game-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 75%;
  background-color:blue;
}

.win-model{
  background-color: white;
  position: fixed;
  margin: auto;
  height: 60%;
  width: 50%;
  min-height: 48vmax;
  min-width: 56vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.row {
  display: flex;
  height: 16%;
  width: 100%;
}

.header {
  background-color: orange;
  height: 12.3%;
  width: 100%;
  display:flex;
  justify-content: space-around;
}

.header > div{
  background-color: red;
  flex-basis: 30%;
  height: 100%;
  display: inline-block;
  margin: 0 1.35%;
}

.left, .right {
  width: 12.3%;
  height: 75%%;
  background-color: yellow;
}

.footer {
  height: 12.3%;
  width: 100%;
  background-color: red;
  text-align: center;
}

.start-button {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 7px;
  height: 100px;
  width: 230px;
  font-size: 2rem;
}

.stats{
  background-color: palevioletred;
  border: rebeccapurple 1px solid;
  border-radius: 20%;
  font-size: 1.5rem;
  margin: auto;
}

.info{
  background-color: greenyellow;
  border: rebeccapurple 1px solid;
  border-radius: 20%;
  margin: auto;
}

.timer{
  background-color: firebrick;
  border: rebeccapurple 1px solid;
  border-radius: 20%;
  margin: auto;
}

.win-button{
  width: 30%;
  height: 20%;
  background-color: firebrick;
  border: rebeccapurple 1px solid;
  border-radius: 20%;
  font-size: 2rem;
  color: white;
  margin: auto;
}

.model-txt{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 20%;
  background-color: goldenrod;
  /* border: rebeccapurple 1px solid; */
  font-size: 2rem;
  border-radius: 20%;
  margin: auto;
}
